#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.my-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #007bff;
  border-radius: 5px;
}

.my-button img {
  height: 50px;
  margin-right: 20px;
}

.my-button:focus {
  outline: none;
}

.my-button:hover {
  text-decoration: underline;
  background-color: #005dc1;
}

.my-button:active {
  background-color: #004896;

}



.my-button-always {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #007bff;
  border-radius: 5px;
}

.my-button-always img {
  height: 50px;
  margin-right: 20px;
}

.my-button-always:focus {
  outline: none;
}

.my-button-always:hover {
  text-decoration: underline;
  background-color: #005dc1;
}

.my-button-always:active {
  background-color: #004896;

}

.post {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-category {
  font-size: 16px;
  font-weight: bold;
}

.post-rating {
  font-size: 16px;
}

.post-description {
  font-size: 18px;
  line-height: 1.5;
}

img.rounded {
  border-radius: 50%;
}

.post-author {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.post-author span {
  font-size: 14px;
  color: #777;
  margin-right: 10px;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.mobile-select {
  align-items: center;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #007bff;
  border-radius: 5px;
}

.mobile-select img {
  height: 50px;

}

.mobile-select:focus {
  outline: none;
}

.mobile-select:hover {
  text-decoration: underline;
  background-color: #005dc1;
}

.mobile-select:active {
  background-color: #004896;

}


@media only screen and (min-width: 767px) {
  .mobile-select {
    display: none;
  }
  .my-button {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-select {
    display: block;
  }
  .my-button {
    display: none;
  }
}

