#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.my-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    border-radius: 5px;
}

.my-button img {
    height: 50px;
    margin-right: 20px;
}

.my-button:focus {
    outline: none;
}

.my-button:hover {
    text-decoration: underline;
    background-color: #005dc1;
}

.my-button:active {
    background-color: #004896;

}
